<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <ImageView
        android:src="@mipmap/recibidook"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:id="@+id/iconoOk"
        android:layout_alignParentTop="true"
        android:layout_centerInParent="true"
        android:adjustViewBounds="true"
        android:maxWidth="250dp"
        android:maxHeight="250dp"
        android:scaleType="fitCenter"
        android:layout_marginTop="50dp"
        android:layout_marginBottom="50dp" />
    <LinearLayout
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:id="@+id/textoOk"
        android:layout_below="@+id/iconoOk"
        android:layout_centerInParent="true"
        android:layout_alignParentLeft="true"
        android:orientation="vertical">
        <TextView
            android:text=" Tu tweet ha sido programado !! "
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:adjustViewBounds="true"
            android:textStyle="bold"
            android:textSize="20dp"
            android:layout_marginLeft="30dp" />
    </LinearLayout>
    <Button
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/btn_volver"
        android:layout_alignParentBottom="true"
        android:background="@color/link_blue"
        android:fontFamily="sans-serif-light"
        android:textColor="@color/md_white_1000"
        android:textAllCaps="false"
        android:textSize="20dp"
        android:typeface="normal"
        android:text="Ver programados" />
</RelativeLayout>